<!DOCTYPE html>
<html lang="en" ng-app="SignupApp">
<head>
    <title>SignUp Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular/angular-csp.css">
    <link rel="stylesheet" href="app/css/app.css">

</head>
<body ng-controller="SignupCtrl as ctrl" class="ng-cloak">
<div class="container">
    <div class="page-header">
        <h1>SignUp Form <small>Angular demo</small></h1>
    </div>
    <form name="signupForm" novalidate ng-submit="ctrl.signup()">
        <div class="form-group required">
            <label for="username">Username: </label>
            <input type="text" id="username" name="username"
                   class="form-control" ng-model="ctrl.User.username" ng-minlength="3" ng-maxlength="10" required>
            <div class="validation alert-danger" data-ng-show="signupForm.username.$touched || signupForm.$submitted">
                <div data-ng-show="signupForm.username.$error.required">
                    <span class="glyphicon glyphicon-alert"> Username is mandatory</span>
                </div>
                <div data-ng-show="signupForm.username.$error.minlength">
                    <span class="glyphicon glyphicon-alert"> Min must be 3 chars</span>
                </div>
                <div data-ng-show="signupForm.username.$error.maxlength">
                    <span class="glyphicon glyphicon-alert"> Exceeded 10 chars</span>
                </div>
            </div>
        </div>

        <div class="form-group required">
            <label for="email">Email: </label>
            <input type="email" id="email" name="email"
                   class="form-control" ng-model="ctrl.User.email" required>
            <div class="validation alert-danger" data-ng-show="signupForm.email.$touched || signupForm.$submitted">
                <div data-ng-show="signupForm.email.$error.required">
                    <span class="glyphicon glyphicon-alert"> email is mandatory</span>
                </div>
                <div data-ng-show="signupForm.email.$error.email">
                    <span class="glyphicon glyphicon-alert"> Invalid email address</span>
                </div>

            </div>
        </div>

        <div class="form-group required">
            <label for="dob">Date of birth: </label>
            <input type="date" id="dob" name="dob"
                   class="form-control" ng-model="ctrl.User.dateOfBirth" required>
            <div class="validation alert-danger" data-ng-show="signupForm.dob.$touched || signupForm.$submitted">
                <div data-ng-show="signupForm.dob.$error.required">
                    <span class="glyphicon glyphicon-alert"> Date of Birth is mandatory</span>
                </div>
                <div data-ng-show="signupForm.dob.$invalid">
                    <span class="glyphicon glyphicon-alert"> Invalid date of birth</span>
                </div>
                <div data-ng-hide="ctrl.isAgeValid()">
                    <span class="glyphicon glyphicon-alert"> You must be at least 18 years old to register!</span>
                </div>

            </div>
        </div>

        <div class="form-group required">
            <label>Gender:</label>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="gender"
                           ng-model="ctrl.User.gender" value="0">Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender"
                           ng-model="ctrl.User.gender" value="1">Female
                </label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn-success form-control">Sign Up
            </button>
        </div>
    </form>

</body>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/js/signup.controller.js"></script>
</html>